<!DOCTYPE html>
<html>
  <head>
    <title>Developers Job Opening</title>
    {% include 'bootstrap.html' %}
    <style>
      .container-fluid{
        color:black;
      }
      .custom-margin {
        margin-top: 60px !important;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container mt-5">
      <h1 class="text-center mt-4 mb-0 custom-margin">Developers Careers</h1>
      <p class="lead text-center">Here you will mostly find job opening for python developers<p>
      {% include 'banner.html' %}
      <h2 class="text-center mt-2 mb-4">About Developer Careers</h2>
      <div class="row mb-3">
      <p class="lead col-md-6">
        Developer's Career is your gateway to a thriving and balanced work life. We're committed to ensuring you find the ideal job that not only matches your skills but also respects your work-life balance. With Developers Career, you can experience the assurance of landing your dream job once you apply, backed by our track record of securing employment for over 200 talented developers. Join us today and embark on a rewarding journey in the world of technology and innovation.
      </p>
      <div class="d-none d-md-block col-md-6 text-end">
        <img src="/static/partion.jpg" class="img-fluid" style="border-radius:10px;max-height: 75%;">
      </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Job Openings</h2>
      <div class="mb-0">
        {% for job in jobs %}
          {% include 'job_item.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
        <a href="mailto:kumargauravibm@gmail.com?subject=Question%20about%20Job%20Opening&body=Hi%20Developers%20Career%2C%0D%0A%0D%0AQuestion%20%3A%20%3CYour%20Question%3E" class="btn btn-primary">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
